@font-face {
    font-family: 'Conv-lato-bold';
    src: url('fonts/lato-bold.eot');
    src: local('☺'), url('fonts/lato-bold.woff') format('woff'), url('fonts/lato-bold.ttf') format('truetype'), url('fonts/lato-bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv-lato.medium';
    src: url('fonts/lato.medium.eot');
    src: local('☺'), url('fonts/lato.medium.woff') format('woff'), url('fonts/lato.medium.ttf') format('truetype'), url('fonts/lato.medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv-lato.semibold';
    src: url('fonts/lato.semibold.eot');
    src: local('☺'), url('fonts/lato.semibold.woff') format('woff'), url('fonts/lato.semibold.ttf') format('truetype'), url('fonts/lato.semibold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #F8F8F8;
    width: 100%;
    height: 100%;
}

.logo {
    left: 27.72%;
    right: 0;
    top: 13.81%;
    bottom: 1.22%;
    padding-top: 15px;
}

.left-aside {
    width: 15%;
    left: 0;
    top: 0;
    background: #FFFFFF;
    box-shadow: 0 2px 100px rgba(0, 0, 0, 0.1);
}

main {
    width: 85%;
}

.home {
    display: flex;
    left: 0;
    right: 99.24%;
    top: 14.75%;
    bottom: 81.64%;
}

.home-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #051F61;
}

.arrow {
    margin-top: 17px;
    margin-right: 20px;
    height: 30px;
}

.fa-house {
    color: blue;
    font-size: 20px;
    margin-top: 3px;
    padding-right: 13px;
}

.files, .file, .star, .share, .delete {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #757897
}


.my-files {
    padding-right: 85px;
    padding-top: 15px;
}

.starred {
    padding-right: 110px;
    padding-top: 15px;
}

.request {
    padding-right: 40px;
}

.fa-share-alt {
    padding-right: 15px;
}

.files-with-minus, .folder-with-question, .shared-icon, .deleted-icon {
    padding-right: 15px;
}

.fa-star {
    left: 2.64%;
    right: 95.97%;
    top: 31.15%;
    bottom: 66.98%;
    padding-right: 16px;
}

.star {
    padding-left: 15px;
    height: 24px;
    left: 78px;
    top: 316px;
}

.request {
    padding-left: 5px;
    padding-top: 15px;
}

.fa-folder, .fa-trash-alt {
    left: 3.31%;
    right: 96.03%;
    top: 39.82%;
    bottom: 59.24%;
    padding-right: 15px;
}

.deleted, .shared {
    padding-top: 15px;
    margin-right: 100px;
}

.fa-share-alt {
    left: 26.44%;
    right: 26.57%;
    top: 17.62%;
    bottom: 52%;
    padding-right: 17px;
}

.content {
    padding-left: 15px;

}

.aside-footer {
    margin-left: 45px;
    width: 182px;
    height: 269px;
    background: #FFFFFF;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    padding-bottom: 35px;
}

.deleted  {
      padding-bottom: 141px;
}

.message {
    padding-bottom: 10px;
}

.use-memory {
    display: inline;
    width: 39px;
    height: 14px;
    left: 57px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #051F61;
}

.free-memory {
    width: 38px;
    height: 14px;
    font-family: 'Lato';
    font-style: normal;
    color: #757897;
    font-weight: 400;
    font-size: 12px;
    float: right;
    margin-top: 3px;
    padding-right: 25px;
}

.percent {
    width: 89px;
    height: 14px;
    left: 57px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #051F61;
    border-radius: 8px;
}

.upgrade {
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    height: 34px;
    width: 117px;
    background: #0061FF;
    color: #FFFFFF;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    margin-left: 10px;
    border: 1px solid #ffffff;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 55px;
}


.text {
    height: 35px;
    left: 330px;
    top: 36px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #051F61;
}

.welcome-text {
    height: 27px;
    left: 330px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #757897;
}

.search-term {
    height: 35px;
    width: 336px;
    border: 3px solid #ffffff;
    border-right: none;
    outline: none;
    box-shadow: 0 2px 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    /*padding-left: 40px;*/
    margin-right: 15px;
}

.fa-search {
    background: none;
    position: absolute;
    padding-top: 0;
    color: #757897;
    padding-left: 15px;
}

.search-block {
    display: flex;
    align-items: center;
    position: relative;
}
::placeholder {
    padding-left: 40px;
}
.bell-icon {
    padding-left: 2px;
}

.bell, .conf {
    color: #051F61;
    margin-right: 20px;
    border-radius: 8px;
    justify-content: center;
    background: #FFFFFF;
    width: 40px;
    height: 40px;
    display: flex;
    display: flex;
    align-items: center;
    mix-blend-mode: normal;
    box-shadow: 0 2px 100px rgb(0 0 0 / 10%);
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

.all-files {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 53px;

}

.description {
    width: 185px;
    height: 24px;
    left: 344px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #051F61;

}

.add {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #0061FF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    gap: 8px;
    width: 125px;
    height: 38px;
    left: 85.76%;
    right: 4.44%;
    background: #EBF2FF;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
    border: 1px solid #EBF2FF;
    border-radius: 8px;
}

.cards-first-row {
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 40px;
}

.cards-second-row {
    /*padding-left: 305px;*/
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 40px;
}

.card-first {
    margin-right: 25px;
    width: 30%;
    height: 196px;
    background: #FFFFFF;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
}

.card-second {
    margin-right: 25px;
    width: 30%;
    height: 196px;
    background: #FFFFFF;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
}

.card-third {
    width: 30%;
    height: 196px;
    background: #FFFFFF;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
}

.card-four {
    margin-right: 25px;
    width: 30%;
    height: 196px;
    background: #FFFFFF;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
}

.card-file-minus {
    margin-top: 17px;
    margin-left: 22px;
    background-color:  rgba(0, 97, 255, 0.1);
    mix-blend-mode: normal;
    box-shadow: 0 2px 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #0061FF;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-first-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.card-texts {
    padding-left: 20px;
}

.first-card-header-content {
    display: flex;
}

.first-card-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #101828;
}

.date {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 5px;
    text-align: center;
    color: #667085;
}

.fa-ellipsis-v {
    color: #667085;
    padding-top: 21px;
}

.sharing {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    color: #667085;
}

.all-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 25px;
}

.shared-photos {
    padding-right: 30px;
}

.inside {
   padding-right: 13px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #667085;
}

.all-photos, .photos-follower, .user-count {
    display: flex;
}

 .photo {
     margin-right: -13px;
     width: 36px;
     height: 36px;
}

 .card-footer {
     display: flex;
     width: 100%;
 }

.count {
    padding-top: 6px;
     color: #0061FF;
     box-sizing: border-box;
     width: 36px;
     height: 36px;
     margin-top: 0;
     background: #EBF2FF;
     border: 2px solid #FFFFFF;
     border-radius: 10px;
     font-family: 'Lato';
     font-style: normal;
     font-weight: 600;
     font-size: 13px;
     line-height: 18px;
}

.all-users-count {
    margin-left: 38px;
    margin-top: 0;
    padding-top: 6px;
    box-sizing: border-box;
    width: 78.12px;
    height: 36px;
    left: 526px;
    top: 322px;
    background: #EBF2FF;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #0061FF;
}

.card-five {
    margin-right: 25px;
    width: 30%;
    height: 196px;
    background: #FFFFFF;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
}

.card-six {
    width: 30%;
    height: 196px;
    background: #FFFFFF;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
}

.all-users-count-third {
    padding-top: 6px;
    box-sizing: border-box;
    width: 78.12px;
    height: 36px;
    left: 526px;
    top: 322px;
    background: #EBF2FF;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #0061FF;
}

.recent-file {
    padding-left: 25px;
    /*position: absolute;*/
    height: 22px;
    left: 330px;
    top: 654px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 22px;
    color: #051F61;
}

.page-footer {
    margin-top:40px;
    margin-left: 45px;
    width: 94%;
    background: #FFFFFF;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    padding-bottom: 15px;
}

.first-column-text {
    padding-right: 33px;
    height: 18px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #667085;
}

.second-column-text {
    padding-left: 40px;
    height: 18px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #667085;
}

.column-text {
    padding-left: 43px;
    height: 18px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #667085;
}

.table-headers {
    display: flex;
    width: 100%;
}

.fa-sort {
    padding-left: 10px;
    padding-top: 10px;
}

.first-column {
    width: 15%;
}

.second-column {
    width: 37%;
}

.third-column {
    width: 18%;
}

.four-column {
    width: 23%;
}

hr {
    width: 93%;
    height: 0;
    border: 1px solid #EFEFEF;
}

.first-row-card, .second-row-card, .third-row-card {
    /*position: absolute;*/
    margin-left: 22px;
    background-color: rgba(242, 153, 74, 0.1);
    mix-blend-mode: normal;
    box-shadow: 0 2px 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F2994A;
}

.first-row-text {
    padding-left: 15px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #0061FF;
}

.first-row, .second-row, .third-row {
    padding-top: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.size {
    width: 21%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #071E24;
}

.modified {
    width: 16%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #071E24;
}

.second-part {
    width: 32%;
}

.three-points {
    width: 180px;
    left: 93.06%;
    right: 6.74%;
    top: 76.71%;
    bottom: 23.01%;
}

.first-part {
    width: 32%;
    display: flex;
}

.mb {
    padding-left: 59px;
}

.modified-date {
    padding-left: 65px;
}

.points-icon {
    padding-left: 38px;
    margin-top: 2px;
}

.second-row {
    background: #F9FAFD;
}

.second-row-card {
    background: rgba(0, 97, 255, 0.1);
    color: #0061FF;
}

.third-row-card {
    color: #BB6BD9;
    background: rgba(187, 107, 217, 0.1);
}

